*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

main{
    width: 100%;
    height: 100vh;
    background-color: rgb(74, 126, 185);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 5rem;
    color: white;
}

.mainButton, .playButton{
    position: relative;
    width: 10rem;
    height: 5rem;
    border-radius: 5rem;
    background-color: rgb(224, 168, 48);
    border: 2px solid white;
    cursor: pointer;
    color: white;
}   

.mainButton::after{
    position: absolute;
    content: '';
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    box-shadow: none;
    border-radius: 5rem;
}

.mainButton:hover::after{
    box-shadow: 3px 3px 3px white;
}

.mainButton:hover{
    border: none;
    font-weight: 900;
}

.opponentSelector{
    position: relative;
    cursor: pointer;
    width: inherit;
    height: inherit;
    opacity: 0;
    z-index: 3;
}

.circle{
    position: absolute;
    cursor: pointer;
    top: 50%;
    transform: translateY(-50%);
    z-index: 2;
    background-color: black;
    height: 3rem;
    width: 3rem;
    border-radius: 3rem;
    transition: left 0.5s ease;
}

.circleLeft{
    left: 60%;

}
.circleRight{
    left: 10%;
}

.buttonContainer{
    position: relative;
    width: 10rem;
    height: 5rem;
    border-radius: 5rem;
    background-color: white;
}

.buttonContainer::after{
    position: absolute;
    content: '';
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 4rem;
    width: 9rem;
    background-color: rgb(206, 206, 206);
    border-radius: 3rem; 
}

.selectorContainer{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    gap: 3rem;
}

.bold{
    color: black;
}
