*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Rye", serif;
    font-weight: 400;
    font-style: normal;
}

main{
    width: 100%;
    height: 100vh;
    background-color: rgb(29, 63, 102);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 5rem;
    color: white;
}

.playButton{
    position: relative;
    width: 10rem;
    height: 5rem;
    border-radius: 5rem;
    background-color: rgb(224, 168, 48);
    border: 2px solid white;
    cursor: pointer;
    color: white;
}   


.opponentSelector{
    position: relative;
    cursor: pointer;
    width: inherit;
    height: inherit;
    opacity: 0;
    z-index: 3;
}

.circle{
    position: absolute;
    cursor: pointer;
    top: 50%;
    transform: translateY(-50%);
    z-index: 2;
    background-color: black;
    height: 3rem;
    width: 3rem;
    border-radius: 3rem;
    transition: left 0.5s ease;
}

.circleLeft{
    left: 60%;

}
.circleRight{
    left: 10%;
}

.buttonContainer{
    position: relative;
    width: 10rem;
    height: 5rem;
    border-radius: 5rem;
    background-color: white;
}

.buttonContainer::after{
    position: absolute;
    content: '';
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 4rem;
    width: 9rem;
    background-color: rgb(206, 206, 206);
    border-radius: 3rem; 
}

.selectorContainer{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    gap: 3rem;
}

.selection{
    display: flex;
    gap: 5rem;
}

.notSelected, .mainHeader, .g2{
    color: rgb(224, 168, 48);
}
.selected, .g1{
    color: black;
    text-decoration: underline;
}

.gameBoardContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 5rem;
}

.gameBoard{
    border: .5rem solid rgb(173, 182, 230);
    display: grid;
    grid: repeat(10, 3rem) / repeat(10, 3rem);
    gap: .15rem;
    border-radius: 1rem;
    background-color: rgb(173, 182, 230);
}

.gameBoard > *{
    background-color: lightblue;
    border-radius: 1rem;
    border: none;
}

.gameClass{
    flex-direction: row;
}

.shipColor{
    background-color: rgb(180, 180, 180); 
}

.hit{
    position: relative;
    background-color: rgb(124, 2, 2); 
}

.hit::after{
    position: absolute;
    content: '';
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    height: 1rem;
    width: 1rem;

    background-color: white;
    border-radius: 1rem;
}

.miss{
    background-color: rgb(3, 3, 105); 
}

.sunkColor{
    background-color: #3E2723;
}

.hit, .miss, .sunkColor, .disableGameBoard{
    pointer-events: none;
}

.loseContainer{
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 10rem;
    width: 100%;
    height: 100vh;
    color: rgb(224, 168, 48);
    z-index: 1;
}

.loseContainer::after{
    z-index: -1;
    position: absolute;
    content: '';
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background-color: black;
    opacity: 50%;
}

.defaultContainer{
    display: grid;
    grid-template-rows: repeat(auto-fill, minmax(1fr, 33%));
    background-color: rgb(238, 238, 238); 
    box-shadow: 10px 10px 3px rgb(65, 119, 180); 
    width: 40%;
    height: 80%;
    border-radius: 1rem;
}

.defaultContainer > *{
    align-self: center;
    justify-self: center;
}

.headerContainer{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

img{
    background-color: rgb(238, 238, 238);
}

.shipContainer{
    height: max-content;
    width: max-content;
    background-color: rgb(173, 182, 230);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    padding: 1rem;
    border-radius: 1rem;
}

.shipBasis{
    cursor: pointer;
    display: grid;
    gap: .15rem;
    border: none;
    background-color: transparent;
}

.shipBasis:hover{
    opacity: 50%;
}

.shipSelected{
    opacity: 50%;
}

.shipBasis > *{
    background-color: lightblue;
    border-radius: 1rem;
    width: 100%;
    height: 100%;
} 

.shipLengthFourVertical{
    grid-template-columns: repeat(1, 3rem);
    grid-template-rows: repeat(4, 3rem);
}
.shipLengthFourHorizontal{
    grid-template-columns: repeat(4, 3rem);
    grid-template-rows: repeat(1, 3rem);
}
.shipLengthThreeVertical{
    grid-template-columns: repeat(1, 3rem);
    grid-template-rows: repeat(3, 3rem);
}
.shipLengthThreeHorizontal{
    grid-template-columns: repeat(3, 3rem);
    grid-template-rows: repeat(1, 3rem);
}
.shipLengthTwoVertical{
    grid-template-columns: repeat(1, 3rem);
    grid-template-rows: repeat(2, 3rem);
}
.shipLengthTwoHorizontal{
    grid-template-columns: repeat(2, 3rem);
    grid-template-rows: repeat(1, 3rem);
}

.selectedTile{
    background-color: rgb(124, 2, 2);
}